"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "metrics"
      "open-on-github"
    ]
    projectHome: "/home/nhorton/git-workspace"
    telemetryConsent: "no"
    themes: [
      "dark-flat-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    fontSize: 15
    showIndentGuide: true
  "exception-reporting":
    userId: "5f2726ab-9e5b-783d-7ca1-9e4f624abbbd"
  "file-icons":
    onChanges: true
  "gruvbox-plus-syntax":
    contrast: "Hard"
  minimap:
    absoluteMode: true
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
